html {
	background-color: rgb(197,234,223); /* Old browsers */
}

body {
    background: url(../img/boston_skyline.jpg);
    width:100%;
    height:936px;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-family: calibri;
}


#wrapper {
    position:absolute;
    width: 100%;
    height:936px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255,255,255,0.6)
}

.title {
    width: 97.2%;
	padding-left:3%;
    text-align: left;
    font: 20pt calibri;
	margin-top:0px;
	background-color: #3D6A8E;
	border-bottom:2px solid darkgray;
    padding-top: 20px;
    height: 46px;
    color: white;
}

#toggleFilters,#discover {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 20px;
    background-color:#C4DEFC;
    border: 2px solid darkgray;
    border-top: none;    
    font: "14pt calibri bold";
    padding:1px;
    z-index:110;
    cursor: pointer;
	float:left;
    box-shadow: 4px 4px 2px rgba(100,100,100,0.8);
}

#toggleFilters {
	margin-left:35%;
    width: 200px;
}

#discover {
	margin-left:1%;
    width: 200px;
}

#toggleFilters:hover, #discover:hover {
	background-color:#FCF4C4;
}

.box {
	height:60px;
	width:100%;
	text-align:center;
}

#controls {
    position: absolute;
    margin-top: 100px;
    border: 1px solid black;
    width:300px;
    height:400px;
    left:500px;
    top:200px;
    background-color: rgba(220,220,220,0.95);
	background-color:#C4DEFC;
	opacity:0.95;
    box-shadow: 10px 10px 5px rgba(100,100,100,0.4);
    display:none;
    z-index:150;
	cursor:move;
    z-index: 2147483648;
}

#X {
	position:absolute;
	float:right;
	right:2px;
	top:9px;
	font-size:25px;
	color:#D15E5E;
	width:30px;
	height:30px;
	cursor:pointer;
}

#controls #controlsTitle {
    font: 13pt arial;
    padding:10px;
    margin:5px;
    width:90%;
    border: 1px solid darkgray;
    background: #3D6A8E;
    color: white;
}

#content {
	position:relative;
    background: white;
    width: 980px;
    height: 920px;
    border: 1px solid black;
    margin-left: auto;
    margin-right:auto;
}

#sliders2 {
    clear: both;
	padding-top:20px;
    margin-left:20px;
    padding-left:3px;
	font-weight:bold;
}

.slider {
    clear:both;
	width:250px;
}

#bedrooms, #baths {
	float:left;
    padding-left:20px;
    margin-top:20px;
}

#bedrooms {
	margin-left:60px;
}

#listingtypes {
	padding-left:45px;
	margin-top:10px;
	margin-bottom:10px;
}

#amountPrice,#amountSqft,#amountYear {
	font-weight:normal;
	border-style:none;
	width:87px;
	margin-bottom:10px;
	background-color:transparent;
}

#amountPrice {
	width:148px;
}

.year {
    visibility: hidden;
}


#pricePerSqFt {
    float:right;
    margin-right: 35px;
    width:55%;
}


.subtitle {
    width: 100%;
    text-align: center;
    margin: 0px 25px 50px 0px;
    font: 20pt times;
}

.dimensions {
    height:42px;
    width: 35%;
    background-color: #CFCFCF;
	float:left;
	margin-left:30px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	border:4px solid #CFCFCE;
}

@media screen and (min-width:1600px) {
	#common_controls {
		top:700px;
	}
}


#map-canvas { 
    float:left;
    clear:left;
	width:35%;
	height:500px; 
	margin-left:30px;
	margin-top:-1px;
    border: 4px solid #CFCFCF;
}

.invisible {
	display:none;
}

#details {
    float: right;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
    margin-top:40px;
    margin-bottom: 20px;
    height: 210px;
    width: 244px;
}

#detailsZip {
    margin-top:50px;
}

#presentation {
    float: left;
    font-size: 16px;
    left: 80%;
    margin-left: 52px;
    margin-top: 10px;
    position: absolute;
    text-align: left;
    top: 2px;
	font-weight:bold;
}

#description {
    float: left;
    font-size: 16px;
    left: 68%;
    margin-left: 52px;
    margin-top: 10px;
    position: absolute;
    text-align: left;
    top: 2px;
	font-weight:bold;
}

#presentation a,#presentation a:visited,#description a,#description a:visited {
	text-decoration:none;
	color:#C4DEFC;
}

#presentation a:hover,#description a:hover {
	color:#FCF4C4;;
}

.label {
	color:black;
	font-size:12pt;
}

.valueBoston {
    color: #BFBFBF;
    font-weight: bold;
}

.value {
	color:#BF812D;
    font-weight: bold;
}	

#houses {
	margin-top:10px;
	margin-bottom:10px;
}

#bar {
    border-bottom: 4px solid black;
    clear: right;
    color: lightgray;
    float: right;
    height: 220px;
    margin-right: 25px;
    margin-top: 30px;
    padding-left: 15px;
    position: relative;
    width: 300px;
}


.avg_boston, .avg_zestimate {
	width:60px;
	background-color:#BFBFBF;
	position:absolute;
	color:gray;
	vertical-align:text-bottom;
	z-index:0;
	text-align:center;
	border:1px solid black;
}
.avg_zestimate {
	margin-left:150px;
}

.avg_zip, .avg_zestimate_zip {
	width:60px;
	background-color:#BF812D;
	position:absolute;
	color:gray;
	vertical-align:text-bottom;
    z-index:0;
	text-align:center;
	border:1px solid black;
}
.avg_zip {
	margin-left:60px;
}
.avg_zestimate_zip {
	margin-left:210px;
}

#currentMaxBar {
    border-bottom:1px solid black;
    width:175px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    text-align:center;
    font-weight: bold;
    color:black;
}

code {
	padding-left:5px;
	font-size:16pt;
}

#bar_help {
    color: gray;
    margin-top: 45px;
    text-align: center;
}

#tt {
	 position:absolute;
     z-index:114;
	 display:block;
	 background:url(../img/tt_left.gif) top left no-repeat;
 }
 #tttop {
	 display:block;
	 height:5px;
	 margin-left:5px;
	 background:url(../img/tt_top.gif) top right no-repeat;
	 overflow:hidden;
 }
 #ttcont {
	 display:block;
	 padding:2px 12px 3px 7px;
	 margin-left:5px;
	 background:#666;
	 color:#fff;
 }
#ttbot {
	display:block;
	height:5px;
	margin-left:5px;
	background:url(../img/tt_bottom.gif) top right no-repeat;
	overflow:hidden;
}

#mask,#description_mask {
	position:absolute;
	width:100%;
	height:100%;
	background-color:#3E62A4;
	opacity:0.9;
	top:0px;
	left:0px;
	text-align:center;
	z-index:300;
	display:none;
	cursor:pointer;
}

#description_mask {
	padding:30px;
	color:white;
	font-weight:bold;
	opacity:1;
	opacity:0.96;
}

#project_desc {
	width:800px;
	text-align:left;
}

iframe {
	text-align:center;
	margin-top:10%;
	width:800px;
	height:600px;
	border-style:none;
}

#legend {
    background-color: white;
    border: 1px solid black;
    height: 105px;
    left: 243px;
    margin-left: 30px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 555px;
    width: 92px;
    z-index: 1;
	text-align:right;
}

#l1 {
	background-color:#F5F5F5;
}

#l2 {
	background-color:#C7EAE5;
}

#l3 {
	background-color:#80CDC1;
}

#l4 {
	background-color:#35978F;
}

#l5 {
	background-color:#01665E;
}

.square {
	width:13px;
	height:13px;
	display:block;
	float:left;
}

.legend_value {
	float:left;
	margin-left:5px;
	font-size:12px;
}

#timelineLabel {
    background: none repeat scroll 0 0 white;
    border: 1px solid darkgray;
    clear: both;
    font: 16pt arial;
    height: 142px;
    left: 3%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 760px;
    width: 896px;
	padding-left:30px;
	padding-top:5px;
	text-align:center;
}

#avg_price_lbl,#avg_zest_lbl {
	position:absolute;
	top:690px;
}

#avg_price_lbl {
	left:68%;
}

#avg_zest_lbl {
	left:83%;
}

#timeline {
    position:absolute;
    left: 30px;
    top: 107px;
    width: 843px;
}

.chartjunkDiv {
     position:absolute;
     width: 843px;
     border-bottom: 1px solid lightgray;
     text-align: left;
     font:10pt arial;
     z-index: 100;
}

.histDiv {
    position: absolute;
    background: #BABABA;
    border:1px solid white;
    z-index:101;
}

.dateLabel {
    position:absolute;
    border-left: 1px solid black;
    padding-top: 5px;
    font: 10pt calibri;
}

#histo_title {
	margin-left:40px;
	font-size:12pt;
}

.zipdiv {
    position: absolute;
    background: #BF812D;
    border: 1px solid white;
}

#divHover {
    background: #BFBFBF;
}